body
{
    font-family: Dancing Script;
    background-color: #02010a;
    padding: 0 2%;
}


#banner .encabezado
{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px #02010a;
    float: left;
    line-height: 80px;
}


#banner nav {
    background: #5b7989;
    font-size: 1.143em;
    margin: 0 auto 0em auto;
    padding: 0;
    align-content: right;
    height: 80px;
    line-height: 80px;
}
#banner nav ul {list-style: none; margin: 0 auto; width: 800px;text-align: right;}
#banner nav li {float: right; display: inline; margin: 0;}
#banner nav a:link, #banner nav a:visited {
    border-radius: 15px 10px;
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 1px 1em;
}
#banner nav a:hover, #banner nav a:active{
    text-shadow: none !important;
}
#banner nav .active a:link, #banner nav .active a:visited {
    text-decoration: none !important;
}

#contenido
{
    background-color: #82c3a6;
}
#contenido img
{
    display: block;
    margin:0px auto;
    padding: 20px;
}

div [class*="bloque"]
{
    min-height: 200px;
    display: block;
    margin: 10px auto;
    flex: 1 2 40%;
}
.contenedor
{
    display: flex;
    flex-direction: row wrap;
    background-color: #d5c75f;
}
div [class*="bloque"]
{
    box-shadow: 1px 2px 3px #82c3a6;
    border: 2px solid black;
}

.bloque1:hover
{
    transform: rotate(10deg);
    width: 20%;
}
.bloque2:hover
{
    transform: translate(20px, -5px);
    
}