@font-face
{
    font-family: 'Dancing Script';
    src: url('DancingScript-Bold.otf');
}
body
{
    font-family: "Dancing Script";
    background-color: #02010a;
}
#contenido
{
    width: 900px;
    display: block;
    margin: auto;
    animation: contenedor 10s;
}

@-webkit-keyframes contenedor
{
    20%, 50%, 80% {
        transform: translateY(0);
      }
    
      40% {
        transform: translateY(-30px);
      }
    
      65% {
        transform: translateY(-15px);
      }
}

header
{
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
header h1
{
    color: white;
    text-shadow: 2px 2px #02010a;
    float: left;
    line-height: 50px;
    padding: 0 4%;
}
header nav
{
    float: right;
    line-height: 50px;
    padding: 2% 4% 0 0;
}
header nav a
{
    display:inline-block;
    color: white;
    padding: 10px 10px;
    line-height: normal;
}

img
{
    box-shadow: 2px 2px 5px #02010a;
}
#imagenCentral
{
    background-color: #82c3a6;
}
#imagenCentral div
{
    padding: 2% 0;
}
#imagenCentral div img
{
    display: block;
    margin: auto;
    height: 400;
    width: 90%;
}
#imagenSecundaria, #paisajes, #retratos
{
    display: flex;
    flex-flow: row wrap;
    background-color: #d5c75f;
}
#imagenSecundaria div, #paisajes div, #retratos div
{
    padding: 2%;
}
#imagenSecundaria div img,#paisajes div img, #retratos div img
{
    display: block;
    margin: 0px auto;
    height: 300px;
    width: 90%;
    border: 1px solid black;
}

#imagenSecundaria div h3
{
    text-align: center;
    text-decoration-line: underline;
}
div [class*="bloque"]
{
    flex: 1 2 46%;
}

.bloque1 img:hover
{
    transform: rotate(10deg);
    box-shadow: 2px 2px 5px #82c3a6;
}

.bloque2 img:hover
{
    transform: translate(20px, -5px);
    box-shadow: 2px 2px 5px #82c3a6;
}

div [class*="paisaje"], div [class*="retrato"]
{
    flex: 1 2 28%;
}
.imagen1
{
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.imagen2, .imagen4, .imagen6
{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.imagen3
{
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}
footer
{
    clear: both;
    display: block;
    margin: auto;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
    background-color: #C6d5c5;
}

footer div
{
    width: 21%;
    padding: 2%;
}

@media (max-width:900px)
{
    header h1, header nav
    {
        text-align: center;
        float: none;
        font-size: 22px;
    }
    h2,p
    {
        font-size: 20px;
    }
    #contenido
    {
        width: 100%;
    }
    #imagenSecundaria, #paisajes, #retratos
    {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    #imagenSecundaria div img, #paisajes div img, #retratos div img
    {
        display: block;
        margin: 0px auto;
    }
    div [class*="bloque"], div [class*="paisaje"], div [class*="retrato"]
    {
        width: 98%;
    }
    footer
    {
        display: flex;
        flex-flow: column;
    }
    footer div 
    {
        display: block;
        margin: 0px auto;
        width: 80%;
    }
}